<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.mnrf.ejajan.permission.SEND_ALARM"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_ejajan_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ejajan"
        tools:targetApi="31">
        <activity
            android:name=".view.main.student.detail.DetailMenuSpecialActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.detail.NotesDetailActivity"
            android:exported="false" />

        <receiver
            android:name=".view.main.merchant.ui.setting.AlarmReceiver"
            android:exported="true"
            android:permission="com.mnrf.ejajan.permission.SEND_ALARM" />

        <activity
            android:name=".view.main.merchant.ui.setting.MerchantSettingSchedule"
            android:exported="false" />
        <activity
            android:name=".view.main.parent.ui.setting.notification.NotificationParentActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.summary.OrderSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.cart.CartActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.face.FaceConfirmActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.detail.DetailMenuStudentActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.menu.MenuStudentActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.special.SpecialOffersActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.drink.DrinkActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.food.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.healty.HealtyChoicesActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.personal.PersonalPicksActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.setting.balance.ConfirmationDisbursementActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.setting.balance.TransactionDisbursementActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.setting.profile.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.setting.report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.activeorder.OrderSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.activeorder.OrderConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.activeorder.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.activeorder.OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.menu.add.AddIngredientsActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.menu.change.UpdateMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.menu.detail.DetailMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.merchant.ui.menu.add.AddMenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.parent.ui.topup.ConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.parent.ui.topup.TransactionActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.parent.ui.setting.profile.ProfileParentActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.parent.ui.student.delete.DeleteConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.parent.ui.student.change.ChangeConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.parent.ui.student.add.AddConstraintActivity"
            android:exported="false" />
        <activity
            android:name=".view.main.student.StudentActivity"
            android:exported="false"
            android:label="@string/welcome_student" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face" />

        <activity
            android:name=".view.main.parent.ParentActivity"
            android:exported="false"
            android:label="@string/title_activity_parent" />
        <activity
            android:name=".view.main.merchant.MerchantActivity"
            android:exported="false"
            android:label="@string/title_activity_merchant" />
        <activity
            android:name=".view.onboarding.OnboardingViewPager"
            android:exported="false" />
        <activity
            android:name=".view.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginParentMerchant"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginStudent"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>